<a
    class="border h-96 block border-gray-300 bg-white border-surface rounded-xl m-2 p-4 transfrom cursor-pointer transition-all duration-200 hover:scale-[1.05] hover:shadow-2xl">

    <div class="flex flex-col justify-between h-full">
        <div>
            <div class="mb-4">
                <div class="flex justify-center">
                    <img [src]=" course()?.imageUrl " [alt]="course()?.name" class="h-40 w-50 rounded-lg" />
                </div>
            </div>
            <div class="mb-2 font-bold">{{ course()?.name }}</div>
            <div class="mb-2 text-gray-700">By {{ course()?.instructor?.fullName }}</div>
            <div class="flex mb-2 gap-2 items-center">
                <p-rating [(ngModel)]="rating"></p-rating>
                <p class="text-gray-500 text-sm font-semibold">({{course()?.rate}})</p>
            </div>
            <div class="text-gray-700 mb-1">{{course()?.description}}</div>
        </div>
        <div class=" font-semibold text-xl">{{ '$' + course()?.price }}</div>
    </div>
</a>