<div class="p-14">
        <h1 class="text-4xl font-bold mb-3">Design Courses</h1>
        <h3 class="text-lg mb-4">All Development Courses</h3>
        <div class="flex justify-between">
            <button class="border px-6 py-2 rounded-lg flex gap-2 items-center hover:bg-black hover:text-white transition duration-200 cursor-pointer"><i class="pi pi-filter"></i>Filter</button>
             <p-menu #menu [model]="sortOptions" [popup]="true" />
            <p-button severity="info" (click)="menu.toggle($event)" label="Relevance" icon="pi pi-angle-down"/>
        </div>
        <section class="grid grid-cols-1 lg:grid-cols-3 mb-10">
            <div class="col-span-3 gap-4">
                <div class="grid grid-cols-2 lg:grid-cols-3">
                    @for (item of courses; track $index) {
                        <app-course-card [course]="item"></app-course-card>
                    }
                </div>
            </div>
        </section>

    </div>
    <section class="bg-gray-100 py-10 px-14">
        <h3 class="font-semibold text-lg mb-4">Popular Mentors</h3>
        <div class="flex gap-10 flex-wrap justify-center">
            @for (item of instructors; track $index) {
                <app-mentor-card [instuctor]="item"></app-mentor-card>
            }
        </div>
    </section>
    <section class="py-10 px-14 mb-10">
        <h3 class="text-lg font-semibold mb-4">Featured Courses</h3>
        <div class="flex gap-10 flex-wrap justify-center">
            @for (item of courses.slice(0,4); track $index) {
                <app-course-card [course]="item"></app-course-card>
            }

        </div>
    </section>