<mat-card>
  <img
    mat-card-image
    src="{{ teacher.image }}"
    alt="teacher image"
    class="rounded-lg"
  />
  <div class="flex flex-col gap-2 my-4">
    <span class="font-medium text-xl text-center">{{ teacher.name }}</span>
    <span class="text-center">{{ teacher.role }}</span>
    <button
      class="mt-2 px-3 py-2 rounded-lg bg-blue-500 text-white font-medium flex justify-center items-center gap-2"
    >
      <span> Send Message</span>
      <i class="pi pi-envelope"></i>
    </button>
  </div>
</mat-card>
