<mat-card>
  <div class="overflow-hidden rounded-lg w-full h-48">
    <img
    mat-card-image
    [src]="course.imageUrl"
    alt="course image"
    class="w-full h-full object-cover"
  />
  </div>

  
  <div class="flex flex-col gap-2 ps-3 pb-2">
    <span class="font-semibold text-xl mt-4">{{ course.name }}</span>
    <!-- <span class="text-lg">Category: {{ course.category }}</span> -->
    <!-- <span class="text-sm">By: {{ course.instructor }}</span> -->
    <span>Category: {{ course.categoryName }}</span>
    <span class="text-sm">By: {{ course.instructor.fullName }}</span>
    <div class="flex items-center gap-2">
      <span>
        <p-rating class="mb-2" [(ngModel)]="course.rate"></p-rating>
      </span>
    </div>
    <!-- @if (course.duration || course.lecture || course.level) {
    <div class="flex items-center gap-3 text-sm text-[#334155]">
      <span>{{ course.duration }} Total Hours.</span>
      <span>{{ course.Lectures }} Lectures</span>
      <span>{{ course.level }}</span>
    </div>
    } -->
    @if(this.role=="instructor"){
      <p>Status: {{course.status}}</p>
    }
    @if (course.price) {
    <span class="text-[#0F172A] font-semibold text-lg"
      >${{ course.price }}</span
    >
    }
  </div>
</mat-card>
