<div class="pt-4 mx-4 md:!mx-8 bg-gray-50">
  <!-- section 1 -->
  <section class="grid grid-cols-1 lg:!grid-cols-3 gap-4">
    <div class="col-span-2">
      <p-breadcrumb class="text-nowrap" [model]="items()" />
      <h1 class="text-bold text-4xl my-3">{{ course.name }}</h1>
      <p class="text-gray-500 mb-3">
        This course offers high-quality educational content carefully designed
        to meet the needs of learners. With a focus on practical applications
        and real-world skills, it provides an engaging learning experience
        suitable for both beginners and those looking to enhance their
        expertise.
      </p>
      <div
        class="flex flex-col md:!flex-row gap-3 items-start md:!items-center mb-7"
      >
        <p-rating [(ngModel)]="stars" [readonly]="true" />
        <p class="text-gray-700">
          <!-- {{fullduration}}  -->
          Total Hours. {{ course.lessons.length }} Lectures. All levels
        </p>
        <!-- <p class="text-gray-700"> | {{fullduration}} Total Hours. {{course.lessons.length}} Lectures. All levels</p> -->
      </div>
      <div class="flex items-center mb-4 gap-2">
        <div class="rounded-full overflow-hidden w-[50px] h-[50px]">
          <img class="w-full h-full" [src]="course.instructor.imageUrl" />
        </div>
        <p class="text-gray-500">
          Created by:
          <a
            class="text-blue-600 hover:text-blue-800 hover:underline transition-colors duration-200 cursor-pointer inline-flex items-center gap-1"
            [routerLink]="['/instructor', course.instructor.id]"
          >
            {{ course.instructor.fullName }}
            <svg
              class="w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
              />
            </svg>
          </a>
        </p>
      </div>
      <p-divider></p-divider>
      <h3 class="text-2xl mb-2">Course Description</h3>
      <p class="text-gray-700 mb-6">{{ course.description }}</p>

      <p-divider class="mb-6"></p-divider>
      <h3 class="text-2xl mb-4">Instructor</h3>

      <a
        class="text-xl text-blue-600 hover:text-blue-800 hover:underline transition-colors duration-200 cursor-pointer inline-flex items-center gap-1"
        [routerLink]="['/instructor', course.instructor.id]"
      >
        {{ course.instructor.fullName }}
        <svg
          class="w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
          />
        </svg>
      </a>
      <!-- <p class="text-gray-700 text-md mb-3">{{course.instructor.instructorApplication.specialization}}</p>-->
      <div class="flex gap-2 my-4">
        <div class="rounded-full overflow-hidden w-32 h-32">
          <img [src]="course.instructor.imageUrl" class="w-full h-full" />
        </div>
      </div>
      <p class="text-gray-700 mb-8">
        With extensive experience in the field,
        {{ course.instructor.fullName }} is dedicated to delivering high-quality
        education through practical insights and industry-relevant knowledge.
        Passionate about helping learners grow, they bring both expertise and
        enthusiasm to every course they teach
      </p>
      <!-- <p-divider class="mb-6"></p-divider> -->
    </div>
    <!-- card -->
    <div class="col-span-1">
      <div class="p-5 border border-gray-200 rounded-xl !shadow-lg">
        <div class="mb-7">
          <img alt="Card" class="w-full" [src]="this.course.imageUrl" />
        </div>

        @if(course.isFree) {
        <div class="flex items-center gap-5 mb-5 justify-center">
          <p class="text-2xl font-semibold text-green-600">Free</p>
        </div>
        } @else {
        <div class="flex items-center gap-5 mb-5 justify-center">
          <p class="text-2xl font-semibold">${{ course.price }}</p>
        </div>
        } @if(isenrolled) {
        <button
          [routerLink]="['/student/student-courses']"
          class="w-full py-3 cursor-pointer rounded-lg bg-gradient-to-r from-blue-500 to-blue-600 text-white font-semibold shadow-md hover:shadow-lg transition duration-300 ease-in-out"
        >
          Go to Course
        </button>
        } @else { @if(course.isFree) {
        <button
          (click)="enrollFreeCourse(course.id)"
          class="w-full py-3 cursor-pointer rounded-lg bg-black text-white hover:bg-gray-800 transition duration-200"
        >
          Enroll Free
        </button>

        } @else {
        <button
          [routerLink]="['/check-out']"
          [queryParams]="{ id: course.id }"
          class="w-full py-3 cursor-pointer rounded-lg bg-black text-white hover:bg-gray-800 transition duration-200"
        >
          Pay
        </button>
        } }

        <p-divider></p-divider>
        <!-- <p class="mt-4 text-lg">Share</p>
                <div class="flex gap-4 justify-center mb-4">
                    <a class="w-8 h-8 cursor-pointer shadow flex justify-center border border-gray-200 items-center bg-gray-100 rounded-full" target="_blank" href="https://www.facebook.com"> <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png"class="w-5 h-5" alt="Facebook" /></a>
                    <a class="w-8 h-8 cursor-pointer shadow flex justify-center border border-gray-200 items-center bg-gray-100 rounded-full" target="_blank" href="https://www.github.com"> <img src="https://cdn.jsdelivr.net/npm/simple-icons@v10/icons/github.svg" class="w-5 h-5" /></a>
                    <a class="w-8 h-8 cursor-pointer shadow flex justify-center border border-gray-200 items-center bg-gray-100 rounded-full" target="_blank" href="https://www.google.com"> <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" class="w-5 h-5" /></a>
                    <a class="w-8 h-8 cursor-pointer shadow flex justify-center border border-gray-200 items-center bg-gray-100 rounded-full" target="_blank" href="https://www.x.com"> <img src="https://cdn.jsdelivr.net/npm/simple-icons@v10/icons/x.svg" class="w-5 h-5" alt="X" /></a>
                    <a class="w-8 h-8 cursor-pointer shadow flex justify-center border border-gray-200 items-center bg-gray-100 rounded-full" target="_blank" href="https://www.microsoft.com"> <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" class="w-5 h-5" /></a>
                </div> -->
      </div>
    </div>
  </section>
</div>
<p-toast position="top-right" [baseZIndex]="10000" key="custom"></p-toast>
