<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 lg:!grid-cols-5">
  <div class="col-span-3 boreder flex flex-col justify-center px-8">
    <h1 class="text-3xl font-bold text-[#0F172A] text-center">
      Sign in to your account
    </h1>
    <!-- email -->
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <label for="" class="text-lg text-[#0F172A] font-semibold">Email</label>
        <input
          type="text"
          class="w-full border border-gray-300 rounded-lg p-4 placeholder:text-[#94A3B8]"
          placeholder="Username or Email ID"
          formControlName="email"
        />
        @if(loginForm.get('email')?.hasError('required')&&loginForm.get('email')?.touched){
        <span class="text-red-500 block">Email is required</span>
          }

          @if(loginForm.get('email')?.hasError('email')&&loginForm.get('email')?.touched){
          <span class="text-red-500 block">Invalid email format</span>
          }
      </div>

      <!-- password -->
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <label for="" class="text-lg text-[#0F172A] font-semibold"
            >Password</label
          >
          <input
            type="password"
            class="w-full border border-gray-300 rounded-lg p-4 placeholder:text-[#94A3B8]"
            placeholder="Enter Password"
            formControlName="password"
          />
          @if(loginForm.get('password')?.hasError('required')&&loginForm.get('password')?.touched){
          <span class="text-red-500 block">Password is required</span>
           }
        </div>

        <button
          class="text-[#FFFFFF] px-4 py-3  rounded-md bg-[#020617] w-fit flex items-center gap-3 cursor-pointer hover:bg-neutral-600  transition duration-200 "
         type="submit">
          <span>Sign In</span>
          <i class="pi pi-arrow-right"></i>
        </button>
        <a class="no-underline text-green-600 hover:text-green-500" routerLink="/forget-password">Forget password ?</a>

        <!-- <div class="flex items-center">
          <div class="flex-grow border-t border-[#94A3B8]"></div>
          <span class="px-3 text-[#94A3B8]">Sign in with</span>
          <div class="flex-grow border-t border-[#94A3B8]"></div>
        </div> -->
<!-- 
        <div class="w-full flex items-center justify-center gap-4">
          <button
            class="px-8 py-2 border border-gray-300 rounded-lg flex justify-center items-center gap-2"
          >
            <img src="/images/Facebook.svg" alt="" />
            <span class="text-[#0866FF] text-sm">Facebook</span>
          </button>
          <button
            class="px-8 py-2 border border-gray-300 rounded-lg flex justify-center items-center gap-2"
          >
            <img src="/images/google.svg" alt="" />
            <span class="text-sm text-[#EA4335]">Google</span>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-span-2 mt-6 lg:mt-0 w-full h-[calc(100vh-6rem)] overflow-hidden">
    <img src="/images/log-in.svg" alt="" class="w-full h-full object-cover" />
  </div>
</form>
