<div class="grid grid-cols-1 lg:grid-cols-5">
  <div class="col-span-3 boreder flex flex-col justify-center pt-6 px-8">
    <h1 class="text-3xl font-bold text-[#0F172A] text-center">
      Sign in to your account
    </h1>
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <label for="" class="text-lg text-[#0F172A] font-semibold">Email</label>
        <input
          type="text"
          class="w-full border border-gray-300 rounded-lg p-4 placeholder:text-[#94A3B8]"
          placeholder="Username or Email ID"
        />
      </div>

      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <label for="" class="text-lg text-[#0F172A] font-semibold"
            >Password</label
          >
          <input
            type="text"
            class="w-full border border-gray-300 rounded-lg p-4 placeholder:text-[#94A3B8]"
            placeholder="Enter Password"
          />
        </div>

        <button
          class="text-[#FFFFFF] px-4 py-3 rounded-md bg-[#020617] w-fit flex items-center gap-3"
        >
          <span>Sign In</span>
          <i class="pi pi-arrow-right"></i>
        </button>

        <div class="flex items-center">
          <div class="flex-grow border-t border-[#94A3B8]"></div>
          <span class="px-3 text-[#94A3B8]">Sign in with</span>
          <div class="flex-grow border-t border-[#94A3B8]"></div>
        </div>

        <div class="w-full flex items-center justify-center gap-4">
          <button
            class="px-8 py-2 border border-gray-300 rounded-lg flex justify-center items-center gap-2"
          >
            <img src="/images/Facebook.svg" alt="" />
            <span class="text-[#0866FF] text-sm">Facebook</span>
          </button>
          <button
            class="px-8 py-2 border border-gray-300 rounded-lg flex justify-center items-center gap-2"
          >
            <img src="/images/google.svg" alt="" />
            <span class="text-sm text-[#EA4335]">Google</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-2 mt-6 lg:mt-0 w-full">
    <img src="/images/log-in.svg" alt="" class="w-full object-contain" />
  </div>
</div>
