<div class="px-18  pt-8">
    <div class="grid grid-cols-1 md:grid-cols-4 mb-2 sm:gap-10  lg:gap-44">
        <div class="col-span-3">
            <h5 class="text-gray-700">Instructor</h5>
            <h2 class="text-3xl font-semibold">Ronald Richards</h2>
            <h5 class="text-gray-700 mb-5">Web Developer UX/UI Designer and Teacher</h5>
            <div class="flex gap-14 mb-8">
                <div class="flex flex-col gap-1">
                    <h5 class="text-gray-700">Total Students</h5>
                    <p class="text-2xl font-semibold">1000</p>
                </div>
                <div class="flex flex-col gap-1">
                    <h5 class="text-gray-700">Reviews</h5>
                    <p class="text-2xl font-semibold">154</p>
                </div>
            </div>
            <div>
             <h3 class="font-semibold text-lg">About Ronald Richards</h3>
             <p class="text-gray-700">Ronald Richard is a highly skilled UX/UI Designer with over a decade of experience in crafting user-centric digital solutions. With a background in graphic design and a keen eye for detail, Ronald specializes in creating intuitive interfaces that delight users and drive business results.</p>
            </div>
        </div>
        <div class="flex flex-col items-center">
            <img src="images/Ellipse 53.png" class="mb-4 w-full">
            <button class="w-full py-2 font-semibold rounded-lg border hover:bg-black hover:text-white transition duration-200 cursor-pointer mb-1">Website</button>
            <button class="w-full py-2 font-semibold rounded-lg border hover:bg-black hover:text-white transition duration-200 cursor-pointer  mb-1">Twitter</button>
            <button class="w-full py-2 font-semibold rounded-lg border hover:bg-black hover:text-white transition duration-200 cursor-pointer  mb-1">YouTube</button>
        </div>
    </div>
    <section class="mb-4">
        <h3 class="font-semibold text-lg">Areas of Expertise</h3>
        <ul class="list-disc ml-5">
            <li>User Experience (UX) Design</li>
            <li>User Interface (UI) Design</li>
            <li>Information Architecture</li>
            <li>Interaction Design</li>
            <li>Visual Design</li>
            <li>Usability Testing</li>
            <li>Wireframing and Prototyping</li>
            <li>Design Thinking</li>
        </ul>
    </section>
</div>
<section class="bg-gray-100 py-10 px-18">
    <h3 class="text-xl font-semibold mb-7">More Courses by <span class="text-blue-600">Ronald Richards</span></h3>
    <!-- carousel -->
     <p-carousel [value]="courses" [numVisible]="3" [numScroll]="1" [circular]="false" [responsiveOptions]="responsiveOptions" >
    <ng-template let-product #item>
        <div class="border border-gray-300 bg-white border-surface rounded-xl m-2 p-4">
            <div class="mb-4">
                <div class="relative mx-auto">
                    <img [src]=" product.image " [alt]="product.name" class="w-full rounded-border" />
                </div>
            </div>
            <div class="mb-2 font-bold">{{ product.title }}</div>
            <div class="mb-2 text-gray-700">By {{ product.author }}</div>
            <p-rating class="mb-2" [(ngModel)]="rating"></p-rating>
            <div class="text-gray-700 mb-4">{{product.duration}}</div>
            <div class="flex justify-between items-center">
                <div class="mt-0 font-semibold text-xl">{{ '$' + product.price }}</div>
                <span>
                    <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                    <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                </span>
            </div>
        </div>
    </ng-template>
</p-carousel>

</section>