<div class="mx-6 lg:mx-24">
  <h1 class="text-3xl font-semibold mt-12 mb-6">Checkout Page</h1>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <div class="col-span-1 lg:col-span-2 h-screen overflow-y-auto">
      <div class="border border-[#E2E8F0] rounded-lg flex flex-col gap-2 p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="col-span-1 flex flex-col gap-1">
            <label for="" class="font-semibold text-lg">Country</label>
            <input
              type="text"
              class="placeholder:text-[#94A3B8] p-4 rounded-lg border border-[#E2E8F0]"
              placeholder="Enter Country"
            />
          </div>
          <div class="col-span-1 flex flex-col gap-1">
            <label for="" class="font-semibold text-lg"
              >State/Union Territory</label
            >
            <input
              type="text"
              class="placeholder:text-[#94A3B8] p-4 rounded-lg border border-[#E2E8F0]"
              placeholder="Enter State"
            />
          </div>
        </div>
        <div class="w-full flex items-center justify-between mt-4 mb-2">
          <h3 class="font-semibold text-lg">Credit/Debit Card</h3>
          <img class="w-20" src="/images/visa.png" alt="" />
        </div>
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <label for="" class="text-sm text-[#0F172A]">Name of Card</label>
            <input
              type="text"
              class="placeholder:text-[#94A3B8] p-4 rounded-lg border border-[#E2E8F0]"
              placeholder="Name of card"
            />
          </div>
          <div class="flex flex-col gap-2">
            <label for="" class="text-sm text-[#0F172A]">Card Number</label>
            <input
              type="text"
              class="placeholder:text-[#94A3B8] p-4 rounded-lg border border-[#E2E8F0]"
              placeholder="Card Number"
            />
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col gap-2">
              <label for="" class="text-sm text-[#0F172A]">Expiry Date</label>
              <input
                type="text"
                class="placeholder:text-[#94A3B8] p-4 rounded-lg border border-[#E2E8F0]"
                placeholder="Expiry Date"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="" class="text-sm text-[#0F172A]">CVC/CVV</label>
              <input
                type="text"
                class="placeholder:text-[#94A3B8] p-4 rounded-lg border border-[#E2E8F0]"
                placeholder="CVC/CVV"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <h1 class="text-[#0F172A] text-xl font-semibold mb-4">Order Details</h1>
      <div class="flex flex-col gap-4">
        <div
          class="bg-[#F8FAFC] border border-[#E2E8F0] p-4 rounded-lg gap-2 flex"
        >
          <img
            src="/images/shopping-card-course.svg"
            alt="course-image"
            class="max-w-1/2 h-full"
          />
          <div class="flex flex-col gap-2 text-sm">
            <!-- <span class="text-[#2563EB]">Design</span> -->
            <h3 class="font-semibold">The Complete Web Developer Course</h3>
            <div class="flex items-center gap-2 text-xs">
              <div class="flex items-center gap-1">
                <span>155</span><span>Lectures</span>
              </div>
              <div class="flex items-center gap-1">
                <span>22</span><span>Total Hours</span>
              </div>
            </div>
            <h3 class="font-semibold">$45.00</h3>
          </div>
        </div>

        <button
          class="bg-[#F8FAFC] border border-[#E2E8F0] p-3 rounded-lg text-sm cursor-pointer flex items-center gap-2"
        >
          <img src="/images/coupon.svg" alt="" /><span>APPLY COUPON CODE</span>
        </button>
        <div
          class="rounded-md border border-[#E2E8F0] p-4 flex flex-col gap-4 bg-[#F8FAFC]"
        >
          <div class="flex justify-between items-center">
            <span>Price</span>
            <span class="text-[#0F172A] font-semibold">$300.00</span>
          </div>
          <div class="flex justify-between items-center">
            <span>Discount</span>
            <span class="text-[#0F172A] font-semibold">-$10.00</span>
          </div>
          <div class="flex justify-between items-center">
            <span>Tax</span>
            <span class="text-[#0F172A] font-semibold">$20.00</span>
          </div>
          <div
            class="flex justify-between items-center mt-4 text-[#0F172A] font-semibold text-lg"
          >
            <span>Total</span>
            <span>$290.00</span>
          </div>
        </div>
        <a [routerLink]="['/order-completed']">
          <button
            class="text-[#FFFFFF] py-2 bg-[#020617] rounded-md mt-4 w-full"
          >
            Proceed to Checkout
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
