<div
  class="p-6 lg:p-12 pb-10 lg:pb-16 bg-[#1E293B] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10"
>
  <div class="col-span-1 flex flex-col gap-4">
    <span class="text-[#FFFFFF]">lernerra</span>
    <p class="text-[#CBD5E1]">
      Empowering learners through accessible and engaging online education.
      lernerra is a leading online learning platform dedicated to providing
      high-quality, flexible, and affordable educational experiences.
    </p>
  </div>

  <!-- <div class="col-span-1 flex flex-col items-start lg:items-center">
    <div class="flex flex-col gap-2 text-[#F1F5F9]">
      <h1 class="text-[#FFFFFF] mb-4">Get Help</h1>
      <a href="">Contact Us</a>
      <a href="">Latest Articles</a>
      <a href="">FAQ</a>
    </div>
  </div> -->

  <div class="col-span-1">
    <h1 class="text-[#FFFFFF] mb-4">categories</h1>
    <div class="flex flex-col gap-2 text-[#F1F5F9]">
      @for (item of topCategories()?.slice(0,4); track $index) {
      <a [routerLink]="['/category', item.id]">
        {{ item.name }}
      </a>
      }
    </div>
  </div>

  <div class="col-span-1">
    <h1 class="text-[#FFFFFF] mb-4">Contact Us</h1>
    <div class="flex flex-col gap-2 text-[#F1F5F9]">
      <h3>Address: ITI Fayoum, Egypt</h3>
      <a href="tel:01012205020">Tel: 01012205020</a>
      <a href="mailto:infantdiary@gmail.com">Mail: infantdiary@gmail.com</a>
      <!-- <div class="flex items-center gap-3 mt-2">
        <button
          class="w-6 h-6 rounded-full bg-blue-100 hover:bg-blue-200 flex items-center justify-center transition-colors"
        >
          <i class="pi pi-facebook text-blue-600 text-lg"></i>
        </button>
        <button
          class="w-6 h-6 rounded-full bg-gray-100 hover:bg-gray-200 flex items-center justify-center transition-colors"
        >
          <i class="pi pi-github text-gray-700 text-lg"></i>
        </button>
      </div> -->
    </div>
  </div>
</div>
