@import "tailwindcss";
@import "flowbite";

@import "primeicons/primeicons.css";

body {
  font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.p-rating .p-rating-icon,
.p-rating .p-rating-on-icon,
.p-rating .p-rating-off-icon {
  color: #f59e42 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}