 <div  class="border border-gray-300 rounded-xl p-4 transition-all duration-200 hover:scale-105 hover:shadow-2xl">
            <div class="my-4">
                <div class="flex justify-center">
                    <a [href]="getCvPath()"><img  src="images/cv.png" alt="cv icon" class="h-30 w-50 rounded-lg" /></a>
                </div>
            </div>
            <div class="mb-2 text-xl font-bold">{{ application()?.fullName }}</div>
            <div class="mb-2 text-gray-700"> {{ application()?.specialization}}</div>
            <div class="text-gray-700 mb-1">{{application()?.phone}}</div>
            <div class="flex justify-between items-center mb-4">
                <div [ngClass]="{'text-orange-500':application()?.status===1}"  class=" font-semibold text-gray-700">{{getStatusString(application()?.status) }}</div>
                @if(application()?.status===0){
                    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '20px', height: '20px' }" />
                }
            </div>
            
            <div class="flex justify-center gap-4">
                    <p-button [disabled]="application()?.status===1" (onClick)="onClick(true)">Accept</p-button>
                    <p-button [disabled]="application()?.status===1" (onClick)="onClick(false)" severity="danger">Reject</p-button>
                </div>
            
   </div>