<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="grid grid-cols-8">
  <div
    class="col-span-1 flex flex-col gap-4 bg-[#0F172A] p-4 h-[calc(100vh-6rem)] text-[#E2E8F0] relative"
  >
  <img  [src]="accountService.user()?.pictureUrl" class="w-30 h-30 rounded-lg ">
    <button
      class="flex items-center gap-2 mt-4 cursor-pointer"
      (click)="selectSection(0)"
    >
      <i class="pi pi-book !text-lg"></i>
      <span>Courses</span>
    </button>
    <button
      class="flex items-center gap-3 mt-4 cursor-pointer"
      (click)="selectSection(1)"
    >
      <i class="pi pi-user !text-lg"></i>

      <span>Profile</span>
    </button>
    <!-- <div class="absolute bottom-4 w-full">
      <div class="w-full flex items-center justify-between">
        <button
          class="flex items-center gap-2 cursor-pointer"
          (click)="selectSection(1)"
        >
          <img
            src="/images/teacher.svg"
            alt=""
            class="w-12 h-12 rounded-full"
          />
          <span class="text-sm">Hi, John</span>
        </button>
        <i class="pi pi-align-left mx-auto"></i>
      </div>
    </div> -->
  </div>
  <div class="col-span-7 p-8 h-[calc(100vh-6rem)] overflow-y-auto">
    @switch (selectedSection) { @case (0) {
    <div class="w-full flex items-center justify-end">
      <button
        [routerLink]="['/add-course']"
        class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-[#FFFFFF] mb-8 flex items-center gap-2 cursor-pointer"
      >
        <i class="pi pi-plus"></i>
        Add Course
      </button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      @for (item of courses; track $index) {
      <div class="relative group">
        <app-course-card [course]="item"
         [role]="'instructor'
         "></app-course-card>

        <div
          class="absolute top-2 right-2 flex gap-2 opacity-0 group-hover:opacity-100 transition-opacity"
        >
          <a
            class="bg-blue-500 text-white w-10 h-10 rounded-full hover:bg-blue-600 shadow-lg cursor-pointer flex justify-center items-center"
            title="Edit Course"
            [routerLink]="['/update-course', item.id]"
          >
            <i class="pi pi-pencil text-sm"></i>
      </a>
          <button
            (click)="confirmDelete($event,item.id)"
            class="bg-red-500 text-white w-10 h-10 rounded-full hover:bg-red-600 shadow-lg cursor-pointer"
            title="Delete Course"
          >
            <i class="pi pi-trash text-sm"></i>
          </button>
        </div>
      </div>
      }
    </div>
    } @case (1) {
    <app-instructor-profile></app-instructor-profile>
    } }
  </div>
</div>