@if (!isSubmited()) {
<h1 class="text-center my-10 text-6xl font-bold gradient-text   capitalize" >Ready To Join Us ? </h1>
<div class="grid grid-cols-1 gap-40  lg:grid-cols-2 mx-12 mb-12  ">
    <form (submit)="onSubmit()" [formGroup]="applicationForm" class="flex flex-col col-span-1">
        
        <label class="font-semibold mb-2">Full Name</label>
        <input formControlName="fullName" class="border border-gray-200 px-4 mb-2 rounded-lg py-3 text-gray-500  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150 " placeholder="Enter your full name">
        @if(applicationForm.get('fullName')?.hasError('required')&&applicationForm.get('fullName')?.touched){
            <span class="text-red-500 block">Full name is required</span>
          }

        <label class="font-semibold mb-2">Email</label>
        <input formControlName="email" class="border border-gray-200 mb-2  px-4 rounded-lg py-3 text-gray-500  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150 " placeholder="Enter your Email">
        @if(applicationForm.get('email')?.hasError('required')&&applicationForm.get('email')?.touched){
            <span class="text-red-500 block">Email is required</span>
          }

          @if(applicationForm.get('email')?.hasError('email')&&applicationForm.get('email')?.touched){
          <span class="text-red-500 block">Invalid email format</span>
          }
        
        
        <label class="font-semibold mb-2">Phone</label>
        <input formControlName="phone" class="border border-gray-200 mb-2  px-4 rounded-lg py-3 text-gray-500  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150 " placeholder="Enter your Phone">
        @if(applicationForm.get('phone')?.hasError('required')&&applicationForm.get('phone')?.touched){
            <span class="text-red-500 block">Phone is required</span>
          }
        @if(applicationForm.get('phone')?.hasError('pattern')){
            <span class="text-red-500 block">invalid phone format</span>
        }

        <label class="font-semibold mb-2">Specialization</label>
        <select formControlName="specialization" class="border mb-2 border-gray-200 px-4 rounded-lg py-3 text-gray-500  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150 " placeholder="Enter your Specialization">
        <option value="" disabled selected>Select your Specialization</option>
        @for (item of specializationsList; track $index) {
          <option [value]="item">{{item}}</option>
        }
        </select>
        <label class="font-semibold mb-2">Cv</label>
        <div class="flex gap-2 items-center mb-3">
            <input (change)="onCvSelected($event)" type="file" accept=".pdf,.doc,.docx" class="border border-gray-200 px-4 rounded-lg py-3 text-gray-500  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150 w-1/2 ">
            <img src="images/cv.png" class="w-10 h-10">
        </div>
        @if(cvUploadError){
            <span class="text-red-500 block">{{cvUploadError}}</span>
        }
        <button
          class="text-[#FFFFFF] px-4 py-3  rounded-md bg-[#020617] w-fit flex items-center gap-3 cursor-pointer hover:bg-neutral-600  transition duration-200 "
         type="submit">
          <span>Submit</span>
          <i class="pi pi-arrow-right"></i>
        </button>
    </form>
    <div>
        <img src="images/home/1.svg " class="ml-24 hidden md:block" >
    </div>
</div>
}@else {
  <app-success></app-success>
}
  <p-toast></p-toast>