<div class="grid grid-cols-1 md:grid-cols-4 gap-12 md:gap-0 pt-24 pb-4 mx-8 ">
  <div class="col-span-1 flex flex-col">
    <img [src]="studentImage()" class="w-32 h-32 rounded-full" />
    <h1 class="my-4 font-medium text-xl">{{studentName()}}</h1>
    <button
      class="py-2 px-3 rounded-lg bg-white text-black border border-gray-300 flex items-center gap-2 w-fit"
    >
      <span>Share Profile</span>
      <i class="pi pi-share-alt text-lg"></i>
    </button>
    <div class="mt-12 flex flex-col items-center text-center gap-4">
      <a class="w-full text-left py-2 ps-2 pe-20 cursor-pointer transition-all duration-200 text-nowrap bg-white text-black hover:bg-gray-100" routerLink="/student/student-profile" routerLinkActive="!bg-black text-white">Profile</a>
      <a class="w-full text-left py-2 ps-2 pe-20 cursor-pointer transition-all duration-200 text-nowrap bg-white text-black hover:bg-gray-100" routerLink="/student/student-courses" routerLinkActive="!bg-black text-white">My Courses</a>
    </div>
  </div>
  <div class="col-span-1 md:!col-span-3 lg:me-12 ">
 <router-outlet></router-outlet>
  </div>
</div>
