<div class="border border-[#E2E8F0] rounded-lg p-4 mb-4 flex justify-between">
  <div class="flex gap-3">
    <img class="" src="{{ course.image }}" alt="" />
    <div class="flex flex-col gap-1">
      <h1 class="font-semibold text-xl">{{ course.name }}</h1>
      <span class="text-[#334155]">By {{ course.instructor }}</span>
      <div class="flex gap-2">
        <div class="flex items-center gap-1">
          <span class="text-[#FEC84B]">{{ course.rate }}</span>
                          <p-rating  [(ngModel)]="course.rate" [readonly]="true" />

          <span class="text-[#64748B]"
            >({{ course.numberOfRatings }} Ratings)</span
          >
        </div>
        <div class="flex items-center gap-2 text-[#020617]">
          <span>{{ course.duration }} Total Hours</span>
          <span>{{ course.Lectures }} Lectures</span>
          <span>{{ course.level }}</span>
        </div>
      </div>
      <div class="flex items-center gap-2">
        <button class="text-[#3B82F6]">Save for later</button>
        <button class="text-[#DC2626]">Remove</button>
      </div>
    </div>
  </div>
  <span class="text-[#000000] text-2xl font-semibold">${{ course.price }}</span>
</div>