
<section class="min-h-screen">
    <div class="flex justify-between items-start">
        <h2 class="font-semibold text-2xl">Admins:</h2>
        <a class="rounded border-[#1E293B] border-2 hover:bg-[#1E293B] hover:text-white p-2" [routerLink]="['/addAdmin']" >Add Admin</a>
    </div>

    <div class="relative overflow-x-auto shadow-md m-4 mt-8 sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        phone Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (admin of admins; track $index) {
                <tr class="bg-white border-b  border-gray-200">
                    <td class="px-6 py-4">
                        {{admin.id}}
                    </td>
                    <td class="px-6 py-4">
                        {{admin.fullName}}
                    </td>
                    <td class="px-6 py-4">
                        {{admin.email}}
                    </td>
                    <td class="px-6 py-4">
                        {{admin.phoneNumber}}
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
